/* ---------------------------------

SocialEyes Css Styling 

Key:

1. Presets
1.5 Landing Page
2. Dashboard 
2.1 User section
3. Posts
3.1 Write a post 
3.2 View Posts
4. News
5. Find Users
6. Settings
7. Footer Menu
8. Media Queries

------------------------------------ */

/* 1. Presets  ------------- */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;500;600&display=swap');



a {
    text-decoration: none !important;
    color: inherit !important;
}

ul {
list-style: none;
margin: 0px !important;
padding: 0px !important;
}

ul li {
    text-decoration: none;
}

.col-12,
.col-8,
.col-6, 
.col-4,
.col-3 {
    padding: 0px !important;
    margin: 0px !important;
}

.underline {
    text-decoration: underline;
}

.not-selected {
    opacity: 0.4;
}

.selected {
    opacity: 1;
}

.complete-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 55%;
    left: 5px;
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);

}

body {
    font-family: 'Raleway', sans-serif !important;
    font-weight: 300 !important;
}

.open-menu-signup,
.open-menu-login
{
    cursor: pointer;
}

.contain-under {
    margin-top: 35px;
}

button {
    background-color: transparent;
    border: none !important;
}

.pointer {
       cursor: pointer;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.oops {
    margin-top: 20vh;
}
.safe-btn {
    width: 200px;
    height: 40px;
    color: antiquewhite;
    background-color: #485696;
}

/* Landing Page ------------ */ 
.page-container {
    max-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.landing-logo {
    width: 300px;
    height: 300px;
    padding: 20px;
}

.landing-title {
    color: white;
    font-size: 4vw;
}

.join-text {
    margin-top: -10vh !important;
    padding-bottom: 5vh;
    font-size: 3vw;
    font-weight: 500;
}


.open-menu-list li{
    display: inline;
}


.contain-form {
max-height: 50vh;
min-height: 50vh;
padding: 20px;
}

.form-control {
    width: 80% !important;
    display: block;
    text-align: center;
    margin: 0 auto;
}

.register-button {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #45B5AC !important;
    color: white !important;
    
}

.already-have-account {
    font-size: 14px;
    display: block;
    margin: 0 auto;
}

.error_message {
    padding: 5px;
    color: red;
}

/* Need to decide what to do with this */
.learn-more {
height: 30px;
width: 100px;
background-color: #485696;
color: white;
position: absolute;
top: 10px;
right: 10px;
line-height: 30px;
box-shadow: 5px 5px 5px;
cursor: pointer;
}

.learn-more:hover{
    background-color: #45B5AC;
}

/* 2. Dashboard ---------------- */ 

/* 2.1 User Section */ 

.logo-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 35px;
    background-color: #485696;
    z-index: 100;
}

.small-logo {
    height: 15px;
    width: 10px;

}

.avatar {
    height: 60px;
    width: 60px;
    padding: 10px;
    border-radius: 30px;
}

.choose-avatar-list li{
        display: inline-block;
}


.choose-avatar-list img{
        height: 130px;
        width: 130px;
        padding: 20px;
}


.edit-desc {
    margin-left: 5px;
}

.contain-user-info {
    position: fixed;
    top: 35px;
    left: 50%;
    transform: translate(-50%, 0);
    min-height: 60px;
    z-index: 100;
    background-color: white;
    border-bottom: 2px solid lightgray;
}

.about_me {
    resize: none;
    height: 120px;
    width: 100%;
    border: none;


}

.username {
    font-weight: 600 !important;
}

.description {
    font-size: 12px !important;
    overflow-wrap: break-word;
    
}

.profile-btn {
    width: 200px !important;
    background-color: #45B5AC !important;
    color: white !important;
    border: none !important;
    float: right;
}

.profile-btn:hover {
    background-color: #485696 !important;

}



/* 3. Posts -------------------- */

.loading-gif {
    margin-top: 5px;
    height: 30px;
    width: 30px;
    text-align: center;
}


.your_own_post {
    border-left: 10px solid #F9DC5C;
}

.contain-posts-section {
    margin-top: 20px;
    margin-bottom: 100px;
    border-top: solid 1px lightgrey;
}

.reminder {
    width: 100%;
    min-height: 70px;
    font-size: 12px;
    color: black;
    background-color: #F9DC5C;
    border-radius: 3px;
    padding: 10px;
    text-align: left;
}

.alert-icon {
    color: red;

}

.write-post-btn {
    height: 30px;
    width: 80%;
    background-color: #45B5AC;
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
}

.modal-header {
    background-color: #485696 !important;
    color: white !important;
    height: 50px;
}

.close-icon {
      color: white !important;
      line-height: 15jpx;
}

.contain-icon {
    height: 28px;
    width: 30px;
    margin-right: 5px;
    display: inline-block;
    margin-top: 10px;
    padding: 1px;
}

.input-icon {
margin-left: 15px;

}

.input-link {
    border: 1px solid lightgrey;
    width: 80%;
    margin-top: 10px;
    outline: none;
    height: 30px;
}


.post-textarea {
    margin-top: 10px;
    border: 1px solid lightgrey;
    outline: none;
    min-height: 100px;
    resize: none;
    width: 80%;

}

.write-post-logo {
    height: 40px;
    width: 30px;
}
 
.post-btn {
    width: 80%;
    color: white;
    background-color: #45B5AC;
}



.contain-entire-post {
    display: block;
    margin-top: 120px;
    -ms-overflow-style: none;
    overflow-y: hidden !important;
    z-index: 1;
}

.contain-link {
    margin-left: 6px;
}

.main-content-container {
    overflow-wrap:break-word;
    margin-top: 5px;
    margin-bottom: 5px;
}

.arrow-down-link {
    font-size: 18px;
    margin-right: 20px;
    
}

.contain-arrow-dropdown {
    margin-top: 60px;
}

.fa-flag {
    color: red !important;
}

.warning {
    color: rgb(240, 216, 112);
    font-size: 18px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}




/* 3.1 Write post */ 

.click-to-open-post {
position: relative;
height: 30px;
width: 80%;
border: 1px solid lightgrey;
border-radius: 2px;
display: inline-block;
line-height: 30px;

}

.contain-write-a-post-invivte {
    margin-bottom: 10px;

}

.contain-post-invite {
    height: 30px;
}

.contain-write-logo{
position: relative;
height: 30px;
width: 30px;
background-color: #485696;
color: white;
border-radius: 3px;
display: inline-block;
top: 50%;
transform: translateY(-37%)
}


/* 3.2 Display Posts */

.my-latest-post {
background-color: aliceblue;
}

.contain-post {
    min-height: 100px;
    border-bottom: 1px solid lightgrey;
    font-size: 12px;
}

.contain-post-content {
    overflow-wrap: break-word;
    font-size: 12px;
}


.go-to-link {
    position: relative;
    height: 20px;
    width: 30px;
    color: white;
    background-color: #45B5AC;
    font-size: 12px;
    border-radius: 3px;
    float: right;
    margin-right: 10px;
}

/* 4. ----------------- News */
.news-container {
    margin-bottom: 200px;
}

.news-icon-header {
font-size: 40px;
color: #45B5AC;

}
.country-news li {
    display: inline-block;
    font-size: 30px;
}


.news-card{
    margin: 10px;

 
} 

.news-button {
border-right: 1px solid lightgrey;
}


/* 5. Find Users ---------- */

.find-menu-list li{
display: inline-block;
padding: 10px;
font-size: 24px;
font-weight: 500;

}
.no-followers-icon {
    font-size: 20vw;
    margin-top: 25vh;
    color: #45B5AC;
}

.big-find-users {
    height: 50px;
    width: 40vw;
    background-color: #485696;
    color: white;
    margin-top: 50vh;
}


.big-find-users-2 {
    height: 50px;
    width: 40vw;
    background-color:#45B5AC;
    color: white;
    margin-top: 5vh;
}
.big-find-users-2:hover {
     background-color: #485696;
}



.big-find-users:hover {
 background-color: #45B5AC;
}


.search-button {
    font-size: 20px;
}

.submit-search {
    border: none !important;
    background-color: none !important;
}

.contain-results {
    margin-top: 50px;
    margin-bottom: 300px;
    overflow: hidden;
}

.results-row {
    border-top: 1px solid lightgray;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.search-avatar {
  height: 50px;
  width: 50px;  
}

.following-button {
    background-color: #485696 !important;
    color: white !important;
    border: none !important;
}
.display-username {
    font-size: 16px;
    font-weight: 500;
}


/* 6. Settings ----------- */ 


.contain-links {
    margin-top: 10vh;
}

.logout {
    border-right: 1px solid lightgrey;
}

.logout-modal {
    margin-top: 30vh;
}


.settings-button {
    width: 80%;
    height: 30px;
    line-height: 30px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    color: grey;
    margin-top: 10px;
}

.setting-logo {
    width: 80%;
}




/* 7. Footer Menu ---------------- */

.footer-menu {
    height: 8vh;
   background-color:#485696 !important;
    position: fixed;
    bottom: 0;
    left: 0;
    color: white;
}

.footer-button-container {
    position: relative;
}

.small-logo {
    width: 25px !important;
    height: 30px;
}


/* ----------- Media Queries ----- */

@media (min-width: 768px) {


.landing-logo {
    width: 400px;
    height: 400px;
    padding: 20px;
    margin-top: 10vh !important;
}

.contain-form {
   margin-top: 26vh !important;
   padding-top: 5vh !important;
}



.logo-contain{
    min-height: 100vh;
    background-color: #485696;
    
}


.setting-logo {
    width: 40%;
}

.desktop-user-section {
   
    position: fixed;
}

.avatar {
    height: 120px;
    width: 120px;
    padding: 10px;
    border-radius: 30px;
}

.push {
    border-right: 1px solid lightgrey;
}


}