{% extends 'nav.html' %} {% block content %}

<section id="section dashboard d-none" class="">

<!--User About Section -->
<div class="container-fluid">
  <div class="row mt-2">
    <div class="col-4">
      <img src="{{ user.avatar }}" class="avatar" />
    </div>
    <div class="col-8">
      <ul>
        <li><span class="username">{{user.username}}</span></li>
        <li>
          <span class="description">{{user.description}}</span
          ><i class="far fa-edit edit-desc"></i>
        </li>
      </ul>
    </div>
  </div>
  <hr />
</div>

<!--Write a post-->
<div class="container">
  <div class="row">
    <div class="col-12">
      <form action="{{url_for('make_post')}}" method="POST">
        <input
          type="text"
          name="main_content"
          placeholder="Type your post here"
        />
        <button type="submit" class="btn btn-success">Post</button>
      </form>
    </div>
  </div>
</div>


<!--View Posts-->
<!--Your Own latest Post-->
<div class="container my-latest-post">
<div class="row">
<div class="col-4">
<ul>
        <li><i class="far fa-user pr-1"></i>{{my_own_post.posted_by}}</li>
        <li><i class="far fa-calendar-alt pr-1"></i>{{my_own_post.date_posted}}</li>
      </ul>
</div>
<div class="col-8">
    {{my_own_post.main_content}}
    </div>
</div>
</div>

<!--Followers Posts-->
<div class="contain-posts-section">
{% for n in posts_to_display %}
<div class="container">
  <div class="row">
    <div class="col-4">
      <ul>
        <li><i class="far fa-user pr-1"></i>{{n['posted_by']}}</li>
        <li><i class="far fa-calendar-alt pr-1"></i>{{n['date_posted']}}</li>
      </ul>
    </div>
    <div class="col-8">
    {{n['main_content']}}
    </div>
  </div>
</div>
</div>

{% endfor %}

<!--NEED SOME LOGIN HERE TO GENERATE POSTS - GET POSTS IN PYTHON-->
<div class="container post-container">
  <div class="row">
    <div class="col-12">
</div>
  </div>
</div>

</section>

<section class="section" id="follow">
<div class="container">
<div class="row">
<div class="col-12">
<form action="{{url_for('start_following')}}" method="POST">
        <input
          type="text"
          name="follow_username"
          placeholder="Enter the username here"
        />
        <button type="submit" class="btn btn-success">Start Following</button>
      </form>
</div>
</div>
</div>
</section>

<!--Footer Menu-->
<div class="container-fluid footer-menu">
  <div class="row">
    <div class="col-3">
      Menu 1
    </div>
    <div class="col-3">
      Menu 2
    </div>
    <div class="col-3">
      Menu 3
    </div>
    <div class="col-3">
      Menu 4
    </div>
  </div>
</div>

{% endblock %}
