<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SocialEyes</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha256-aAr2Zpq8MZ+YA/D6JtRD3xtrwpEz2IqOS+pWD/7XKIw=" crossorigin="anonymous" />
</head>

<body>
	<div class="container">
		<div class="row m-3">
			<div class="col-12 text-center">
				<h2>Welcome to SocialEyes</h2>
			</div>

		</div>
		<div class="row m-3">
			<div class="col-12 text-center">
				<h4>Register</h4>
				<form method="POST" action="{{ url_for('register_user') }}">
					<div class="row">
						<div class="col-12 m-3">
							<input type="text" class="form-control" placeholder="Usermane" id="username" name="username">
    </div>
							<div class="col-12 m-3">
								<input type="password" class="form-control" placeholder="Password" id="password" name="password">
    </div>
    			<div class="col-12 m-3">
								<input type="email" class="form-control" placeholder="Email" id="email" name="email">
    </div>

            <button class="btn btn-light" type="submit" name="action">Register
             </button>
        </div></form>
							</div>
				
			</div>
		</div>
	</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha256-OFRAJNoaD8L3Br5lglV7VyLRf0itmoBzWUoM+Sji4/8=" crossorigin="anonymous"></script>
</body>

</html>