{% extends 'nav.html' %}

{% block content %}
<div class="container contain-under contain-links">
	<div class="col-12 text-center">
		
			<div class="settings-button mx-auto pointer" data-toggle="modal" data-target="#aboutModal">About SocialEyes</div>
		
	</div>
	<div class="col-12 text-center">
		
			<div class="settings-button mx-auto pointer" data-toggle="modal" data-target="#logoutModal">Logout</div>
		
	</div>
	<div class="col-12 text-center">
		<div class="settings-button mx-auto pointer" data-toggle="modal" data-target="#deleteaccountModal">Delete My Account
		</div>
	</div>

    <div class="row">
    <div class="col-12 text-center">
    <img src="/static/images/logo.png" class="img-fluid setting-logo pt-5" alt="logo">
    <p class="pt-2">Version 1.0.0</p>
    </div>

    </div>

    <!--About SocialEyes Modal-->
	<div class="modal fade about-modal" id="aboutModal" tabindex="-1" role="dialog"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body text-center">
				<h5><strong>About SocialEyes</strong></h5>
                <p style="text-align: left">SocialEyes is a social media platform designed to encourage people to think about and discuss 
                information they read. Whether it's a video, a news article, an instagram post, a research paper, or a podcast, SocialEyes gives people a 
                platform to share their thoughts about the topic of their choice.    
                </p>
                <h6><strong>What makes SocialEyes different?</strong></h6>
                <p style="text-align: left">SocialEyes is designed differently than most social media media. While most, such as Facebook or Twitter, encourage 
                quantity, we enourage <strong>quality</strong>. We hope to achieve this with a number of features:</p>
                <ul>
                <li><i class="far fa-comments pr-3"></i><strong>No comments!</strong> Unlike other social media sites, we want the discussions to happen offline. See an article and opinion you
                find interesting? Show it to your partner and chat about it! We hope this feature will encourage more conversation and reduce 'trolling' and 'keyboard warrior' type
                behaviour.</li>
                <li><hr/></li>
                <li><i class="fas fa-list pr-3"></i>Only your latest post will show on your followers feed. Make each post count!</li>
                <li><hr/></li>
                <li><i class="fas fa-link pr-3"></i>You must provide a link to the content you are discussing. Our aim is to add credibility to posts 
                and allows other users to form opinions alongside yours!</li>
                
                </ul> 
            
				</div>
                <div class="modal-footer text-center">
                <div class="col-12">
                <a href="" data-dismiss="modal">Close</a>
                </div>
              </div>
			</div>
		</div>
	</div>
	<!--Logout Modal-->
	<div class="modal fade logout-modal" id="logoutModal" tabindex="-1" role="dialog"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body text-center">
				<h5>Are you sure?</h5>
				</div>
                <div class="modal-footer text-center">
                <div class="col-6 logout">
               <a href="{{url_for('logout')}}">Logout</a>
                </div>
                <div class="col-6">
                <a href="" data-dismiss="modal">Cancel</a>
                </div>
              </div>
			</div>
		</div>
	</div>

	<!--Delete Account Modal-->
	<div class="modal fade logout-modal" id="deleteaccountModal" tabindex="-1" role="dialog"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body text-center">
				<h5>Are you sure?</h5>
                <p style="color: red">Deleting your account will remove all previous posts and connections and cannot be reversed!</p>
				</div>
                <div class="modal-footer text-center">
                <div class="col-6 logout">
               <a href="{{url_for('delete_account')}}"><span style="color: red" class="pointer"> Delete</span></a>
                </div>
                <div class="col-6 pointer">
                <a href="" data-dismiss="modal" class="pointer">Cancel</a>
                </div>
              </div>
			</div>
		</div>
	</div>



</div>

{% endblock %}